body{
	background-color: white;
	font-family: 'Orbitron', sans-serif;
}

h1{
	font-size: 75px;
}

#pizza{
	font-family:'Architects Daughter', cursive;
	
}

.sectionTitle{
	background-color: yellow;
}

.pizzName{
	background-color: red;
	font-size: 25px;
	margin-top: 20px;
}

#pizza{
	background-color: red;
}

.guide{
	margin-top: 5px;
	background-color: green;
}

/* 	border: 1px solid black; */


img{
	height: 200px;
	width: 25%;
}

/*  CSS Code:
		#myDIV {
    			background-color:lightblue;
    			transform:skewY(10deg);
}
*/

.pizza{
	border: 1px solid black;

}

.floatRight{
	float:right;
	margin-left:20px
	transform-origin: 50% 70%;
}

.floatRightClear{
	float:right;
	clear:right;
	margin-left:20px
	transform-origin: 50% 100%;
}

