body{
	background-color: green;
	font-family: 'Orbitron', sans-serif;
}


#pizza{
	font-family:'Architects Daughter', cursive;
	background-color: aqua;
}

.sectionTitle{
	background-color: yellow;
}

.pizzName{
	background-color: red;
	font-size: 25px;
	margin-top: 20px;
}

#pizza{
	background-color: red;
}

.guide{
	margin-top: 5px;
	border: 1px solid black;
}

img{
	height: 200px;
	width: 50%;
}